NET "INVA" LOC="V8" | IOSTANDARD = LVCMOS33;
NET "A" LOC="U10" | IOSTANDARD = LVCMOS33;
NET "ENA" LOC="U8" | IOSTANDARD = LVCMOS33;
NET "B" LOC="T9" | IOSTANDARD = LVCMOS33;
NET "ENB" LOC="T15" | IOSTANDARD = LVCMOS33;
NET "F1" LOC="T16" | IOSTANDARD = LVCMOS33;
NET "F0" LOC="T14" | IOSTANDARD = LVCMOS33;
NET "CARRYi" LOC="U15" | IOSTANDARD = LVCMOS33;
NET "OUTPUT" LOC="R20" | IOSTANDARD = LVCMOS33 | SLEW = slow | DRIVE = 8;
NET "CARRYo" LOC="T19" | IOSTANDARD = LVCMOS33 | SLEW = slow | DRIVE = 8;

